#project files
.idea/
.cproject/
.project/
.vscode/
.cache/

#build files
cmake-build-*/
build/

# Temporary (typicall AI agent) work files
/work*/

# Any makefiles and project files that end up in the root after proejct is pulled
./Makefile*
